ul > li > a{
    color: #5a5a5a !important ;
    font-size: 14px;
    justify-content: end;
    margin-right:10px ;
    padding: 5px;
    /* border-right: 1px solid gray; */
    text-decoration: none;
}
ul > li > a:hover{
    color: #04aee2 !important ;
    text-decoration: underline;

}
.listLanguages{
    position: absolute; 
    display: block;
    top: 60%;
    right: 4%;
    /* color: #0d3ff3 !important ; */
    /* background-color: #8f8f8f; */
}
